@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: bisque;
}

.hero {
    background-image: url('../images/cuaderno.jpg');
    background-position: center;
    background-blend-mode: multiply;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    padding: 10% 10px;

}

.hero h1{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    font-size: 5em;
}

main{
    margin-top: 30px;
}

main .contenedor{
    width: 80%;
    background-color: bisque;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

main .contenedor #agregar{
    padding: 15px;
    background-color: antiquewhite;
    width: 100%;
    border-radius: 10px;
    font-family: 'Sansita Swashed', cursive;
}

main .contenedor #agregar input, main .contenedor #agregar select{
    margin-left: 20px;
}


main .contenedor #buscar{
    padding: 15px;
    background-color: beige;
    width: 100%;
    border-radius: 10px;
    font-family: 'Sansita Swashed', cursive;
}

main .contenedor #buscar input, main .contenedor #buscar select{
    margin-left: 20px;
}

main .contenedor #seccionTareas {
    width: 100%;
    margin-top: 60px;
}

.rojo{
    background-color: red;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

main .contenedor #seccionTareas article{
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

main .contenedor #seccionTareas article button{
    margin-left: 150px;
    text-decoration: none;
    width: 80px;
    height: 30px;
    border: 1px;
    text-align: center;
    padding: 5px;
    background-color: lightcyan;
    border-radius: 20px;
    color: black;
}




